/*estructura body*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 10px;
    background-color:black;
}

/*navbar*/

.navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    /*background-color: #333;*/

   background-image:url(../assets/portada.jpg);
    
    color: white;
    padding: 10px;
}


.navbar a {
    color:chartreuse;
    padding: 10px;
    text-decoration: none;
}

.container {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    color: aqua;
    span{color: chartreuse;}
}

.navbar-toggler-icon{
    color: aliceblue;

}
img {
    width: 100%;
    height: auto;
    
}

/* Media query para tabletas */
@media (min-width: 600px) {
    body {
        font-size: 18px;
        padding: 20px;
    }

    .navbar {
        flex-direction: row;
        justify-content: space-between;
    }

    .container {
        flex-direction: row;
        justify-content: space-between;
    }
}

/* Media query para computadoras de escritorio */
@media (min-width: 1024px) {
    body {
        font-size: 20px;
        padding: 30px;
    }

    img {
        width: 50%;
    }

/*footer*/
}
.cont{
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(133,204,16,0.8267682072829132) 73%, rgba(0,212,255,1) 100%);
   /* background-color: chartreuse;*/
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;



}
.inicio{ 
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(133,204,16,0.8267682072829132) 73%, rgba(0,212,255,1) 100%);
       /* background-color: chartreuse;*/
    
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;


}
/*home*/

.home{
    h1{color: aqua;
        font-family: Arial, Helvetica, sans-serif;
        

    }
    h2{
        color: chartreuse;
    }
    h3{
        color: aqua;
    }
    
        color: gray;

    }

/*videos*/
h1{
    color: aqua;
    font-family: Arial, Helvetica, sans-serif;
}
h2{
    color: chartreuse;
    font-family:Arial, Helvetica, sans-serif;
}



/*servicios*/

.servicios{
h1{
    color: aqua;
    font-family: Arial, Helvetica, sans-serif;
}
h2{
    color: chartreuse;

}
p{color: gray;

}
}
.icono{
    position: fixed;
    right: 25px;
    bottom: 15px;
    height: 10%;
    width: 10%;
   
    
   } 
    
    
    




