


.cont{
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(133,204,16,0.8267682072829132) 73%, rgba(0,212,255,1) 100%);
   
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;



}
.inicio{ 
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(133,204,16,0.8267682072829132) 73%, rgba(0,212,255,1) 100%);
       
    
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;


}